@media only screen and (max-width: 1024px) {
  .reveal_password {
    bottom: 46px;
    left: -5px;
    border-radius: 100px;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    display: block;
    margin-top: 90px;
  }
  .reveal_password {
    bottom: 46px;
    left: -5px;
    border-radius: 100px;
  }

  h1 {
    font-size: 2.9rem;
    text-align: center;
  }

  p {
    color: white;
    font-size: 1.8rem;
    text-align: center;
  }

  h4 {
    padding: 20px;
    margin-top: 80px;
    font-size: 30px;
  }

  form {
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .reveal_password {
    bottom: 49px;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    display: block;
    margin-top: 50px;
  }

  h1 {
    color: white;
    font-size: 1.9rem;
    line-height: 1.1;
    text-align: center;
    margin-top: 50px;
  }

  p {
    color: white;
    font-size: 1.1rem;
    opacity: 90%;
    text-align: center;
  }

  h4 {
    padding: 25px;
    border-radius: 10px;
    margin-top: 80px;
    font-size: 20px;
  }

  form {
    padding: 1rem;
    border-radius: 8px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .reveal_password {
    bottom: 49px;
    right: 20px;
  }

  small {
    display: block;
    text-align: center;
  }
}
